* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

/* Common style Start */

:root {
  --client-primary-color: #1555ff;
  --client-secondary-color: #f2f4f5;
  --client-teritary-color: #000;
  --client-text-color: #fff;
  --client-fonts-color: #5c5f6a;
  --client-top-primary-color: #2f3336;
  --client-top-secondary-color: #676868;
  --client-boxshadow-color: #00000040;
  --client-border-color: #e4e7e9;
}


.wellcome-btn {
  background-color: var(--client-primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sidebar-logo {
  max-width: 120px;
}

@media screen and (max-width:992px) {
  .logo_ats {
    position: none;
    min-width: 18.1%;
    right: 0;
    font-size: 15px;
  }

  .sidebar-logo {
    width: 50px !important;
    height: auto !important;
    padding: 0 !important;
  }
}