* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

/* Common style Start */

:root {
  --client-primary-color: #1555ff;
  --client-secondary-color: #f2f4f5;
  --client-teritary-color: #000;
  --client-text-color: #fff;
  --client-fonts-color: #5c5f6a;
  --client-top-primary-color: #2f3336;
  --client-top-secondary-color: #676868;
  --client-boxshadow-color: #00000040;
  --client-border-color: #e4e7e9;
  --client-header-bg-color: #ebedf0;
  --client-back-button-color: #424242;
  --client-back-button-hover-color: #cac8c8;
  --client-button-disable-color: #1555ff;
  --client-button-check-color: #fa010182;
  --client-button-findroll-color: #a080f8;
}

.wellcome-btn {
  background-color: var(--client-primary-color);
  color: var(--client-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sidebar-logo {
  max-width: 120px;
}

@media screen and (max-width: 992px) {
  .logo_ats {
    position: none;
    min-width: 18.1%;
    right: 0;
    font-size: 15px;
  }

  .sidebar-logo {
    width: 50px !important;
    height: auto !important;
    padding: 0 !important;
  }
}

/*======= Navigate path Start  ======*/

.custom-breadcrumb {
  text-decoration: none;
  color: var(--client-teritary-color);
}

.custom-breadcrumb:hover {
  text-decoration: none;
  color: var(--client-primary-color);
  cursor: pointer;
}

.breadcrumb-separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.breadcrumb {
  font-size: 16px;
}

/*======= Navigate path End  ======*/

/*======= View Dot Start  ======*/

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: var(--client-top-secondary-color);
  border-radius: 50%;
}

.dot.active {
  background-color: var(--client-primary-color);
}

/* Table Start  */

.database_name {
  color: var(--client-primary-color);
  font-weight: 500;
}

.card_header {
  background-color: var(--client-header-bg-color);
}

.btn-button {
  color: var(--client-text-color);
  padding: 0.4rem 0.8rem;
  font-weight: 400;
  background-color: var(--client-primary-color);
  border-color: var(--client-primary-color);
}

.btn-button i {
  font-weight: 600;
}

.btn-button:hover {
  color: var(--client-text-color);
  background-color: var(--client-primary-color);
  border-color: var(--client-primary-color);
}

.btn-check:focus+.btn-button,
.btn-button:focus {
  color: var(--client-text-color);
  background-color: var(--client-primary-color);
  border-color: var(--client-primary-color);
  box-shadow: 0 0 0 0.25rem var(--client-primary-color);
}

.btn-check:checked+.btn-button,
.btn-check:active+.btn-button,
.btn-button:active,
.btn-button.active,
.show>.btn-button.dropdown-toggle {
  color: var(--client-text-color);
  background-color: var(--client-primary-color);
  border-color: var(--client-primary-color);
}

.btn-check:checked+.btn-button:focus,
.btn-check:active+.btn-button:focus,
.btn-button:active:focus,
.btn-button.active:focus,
.show>.btn-button.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem var(--client-button-check-color);
}

.btn-button:disabled,
.btn-button.disabled {
  color: var(--client-text-color);
  background-color: var(--client-button-disable-color);
  border-color: var(--client-button-disable-color);
}

.btn-button-check:checked+.btn-button,
.btn-button.active,
.btn-button.show,
.btn-button:first-child:active,
:not(.btn-button-check)+.btn-button:active {
  background-color: var(--client-primary-color);
  border-color: var(--client-primary-color);
  color: var(--client-text-color);
}

.btn-back {
  padding: 0.4rem 0.7rem;
  border: 1px solid var(--client-back-button-color);
  border-radius: 5px;
}

.btn-back:hover {
  border: 1px solid var(--client-back-button-color);
  background-color: var(--client-back-button-hover-color);
  border-radius: 5px;
}

.find_roll {
  background-color: var(--client-primary-color);
  color: var(--client-text-color);
}

.find_roll:hover {
  background-color: var(--client-button-findroll-color);
  color: var(--client-text-color);
}

.question-dropdown {
  width: 100%;
}

.sidebar {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.custom-card {
  box-shadow: 0px 4px 16px rgba(168, 168, 168, 0.2);
  /* Horizontal, Vertical, Blur, Color */
  border-radius: 8px;
  border: none;
  padding: 20px;
}

.btn-previous {
  padding: 10px 20px;
  border: 1px solid var(--client-back-button-color);
  border-radius: 5px;
}

.btn-previous:hover {
  border: 1px solid var(--client-back-button-color);
  background-color: var(--client-back-button-hover-color);
  border-radius: 5px;
}

.btn-next {
  padding: 10px 35px;
  border: 1px solid var(--client-primary-color);
  border-radius: 5px;
}

.btn-next:hover {
  color: var(--client-text-color);
  background-color: var(--client-primary-color);
  border-color: var(--client-primary-color);
}

/* .css-thn3im-MuiTable-root {
  min-height: 45vh !important;
} */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #1555ff 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #1555ff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  display: block;
}

.dropdown-content {
  padding-bottom: 20px !important;
}

.MuiTableBody-root tr td {
  height: 57px !important;
  padding: 8px 17px !important;
  font-family: "Poppins", serif;
}

/* .MuiTableBody-root tr:hover td::after {
  background-color: #f7f7f7 !important;
}
.MuiTableHead-root tr th {
  background-color: #ffffff !important;
  font-family: "Poppins", serif;
  border-top: 1px solid#b5b5b5 !important;
  border-bottom: 1px solid#b5b5b5 !important;
} */

.btn-button:focus {
  box-shadow: none;
}

.css-1tbggly {
  z-index: 0 !important;
}

.table-heading{
  font-size: 24px;
  color: #333333;
}

.table-subheading{
  color:#999999;
  font-size: 18px;
}

.add-btn{
  border-radius: 12px;
  background-color: #EAE9FC;
  padding: 12px 16px;
  gap: 8px;
  border-color: #4F46E5;
  color: #4F46E5;
  font-size: 16px;
}

.add-btn:hover{
  border-radius: 12px;
  background-color: #4F46E5;
  padding: 12px 16px;
  gap: 8px;
  border-color: #4F46E5;
  color: #EAE9FC;
  font-size: 16px;
}

/* Table Styling */
.table-container {
  border-radius: 12px;
  padding: 12px;
  overflow: hidden;
}

/* Header Styling */
.mrt-table-head-row {
  background-color: #F8F7FF !important;
  color: #4F46E5 !important;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

/* Row Styling */
.mrt-table-body-row {
  transition: background-color 0.2s ease-in-out;
}

.mrt-table-body-row:hover {
  background-color: #EAE9FC !important;
}

.mrt-table-body-row.selected {
  background-color: #EAE9FC !important;
}

/* Table Actions Column */
.actions-column {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-icon {
  background: transparent;
  border: none;
  font-size: 16px;
  color: #4F46E5;
  cursor: pointer;
}
.edit-btn {
  border-radius: 50%;  
  background-color: #FAFAFA;
  padding: 6px; 
  width: 32px;
  height: 32px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.edit-btn:hover{
  background-color: #FAFAFA !important;
}

.delete-btn {
  border-radius: 50%;  
  background-color: #FAFAFA;
  padding: 6px; 
  width: 32px;
  height: 32px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.delete-btn:hover{
  background-color: #FAFAFA !important;
}

.add-btn {
  border-radius: 7px !important;
  background-color: #EAE9FC;
  padding: 12px 16px;
  gap: 8px;
  border-color: #4F46E5;
  color: #4F46E5;
  font-size: 16px;
}

.add-btn:hover {
  background-color: #4F46E5;
  color: #EAE9FC;
}

.table-heading {
  font-size: 24px;
  font-weight:  500 !important;
  color: #333333;
}

.table-subheading {
  color: #999999;
  font-size: 18px;
  font-weight: 200 !important;
}

.loader-container {
  text-align: center;
  padding: 20px;
}

.mrt-table-head {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.MuiPaper-root{
  border-radius: 20px !important;
  box-shadow: none !important;
}

.MuiTableCell-root.MuiTableCell-head{
  padding: 1.2rem;
}
.MuiTableRow-root.css-1klzrue-MuiTableRow-root:hover{
  background-color: #EAE9FC !important;
}

.view-delete-btn {
  border-radius: 7px !important;
  background-color: #FCE9EB;
  padding: 12px 16px;
  gap: 8px;
  border-color: #FB3748;
  color:#FB3748;
  font-size: 16px;
}

.view-delete-btn:hover {
  background-color: #FB3748;
  color: #FCE9EB;
}

.trash-icon{
  color: #FB3748,;
  font-size: 20px;
}

.view-header{
  color: #4F46E5;
  font-size: 20px;
  font-weight:  500 !important;
}

.view-label-text{
  color: #5D5D5D;
  font-size: 18px !important;
  font-weight: 400 !important;
}
.view-value{
  color: #333333;
  font-size: 18px !important;
  font-weight: 500 !important;
}